In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names=['Class Name', 'Left-Weight', 'Left-Distance', 'Right-Weight', 'Right-Distance'])

In [3]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Class Name</th>
      <th>Left-Weight</th>
      <th>Left-Distance</th>
      <th>Right-Weight</th>
      <th>Right-Distance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>B</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>R</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>R</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>R</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>R</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
df.shape

(625, 5)

In [5]:
df.describe (include='all')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Class Name</th>
      <th>Left-Weight</th>
      <th>Left-Distance</th>
      <th>Right-Weight</th>
      <th>Right-Distance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>625</td>
      <td>625.000000</td>
      <td>625.000000</td>
      <td>625.000000</td>
      <td>625.000000</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>top</th>
      <td>R</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>288</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>NaN</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>NaN</td>
      <td>1.415346</td>
      <td>1.415346</td>
      <td>1.415346</td>
      <td>1.415346</td>
    </tr>
    <tr>
      <th>min</th>
      <td>NaN</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>NaN</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>NaN</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>NaN</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>NaN</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>5.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df.info

<bound method DataFrame.info of     Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
5            R            1              1             2               1
6            R            1              1             2               2
7            R            1              1             2               3
8            R            1              1             2               4
9            R            1              1             2               5
10           R            1              1             3               1
11           R            1              1             3               2
12           R            1              1             3               3
13           R            1              1             3               4
14           R            1              1             3               5
15           R            1              1             4               1
16           R            1              1             4               2
17           R            1              1             4               3
18           R            1              1             4               4
19           R            1              1             4               5
20           R            1              1             5               1
21           R            1              1             5               2
22           R            1              1             5               3
23           R            1              1             5               4
24           R            1              1             5               5
25           L            1              2             1               1
26           B            1              2             1               2
27           R            1              2             1               3
28           R            1              2             1               4
29           R            1              2             1               5
..         ...          ...            ...           ...             ...
595          L            5              4             5               1
596          L            5              4             5               2
597          L            5              4             5               3
598          B            5              4             5               4
599          R            5              4             5               5
600          L            5              5             1               1
601          L            5              5             1               2
602          L            5              5             1               3
603          L            5              5             1               4
604          L            5              5             1               5
605          L            5              5             2               1
606          L            5              5             2               2
607          L            5              5             2               3
608          L            5              5             2               4
609          L            5              5             2               5
610          L            5              5             3               1
611          L            5              5             3               2
612          L            5              5             3               3
613          L            5              5             3               4
614          L            5              5             3               5
615          L            5              5             4               1
616          L            5              5             4               2
617          L            5              5             4               3
618          L            5              5             4               4
619          L            5              5             4               5
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]>

In [7]:
y=df['Class Name']
x=df.drop(['Class Name'],axis=1)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.40, random_state=50)
from sklearn.tree import DecisionTreeClassifier
gdc=DecisionTreeClassifier(criterion='gini')
gdc.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [12]:
pred=gdc.predict(x_test)

from sklearn.metrics import accuracy_score, classification_report

C:\Users\family\PycharmProjects\ML\venv\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [11]:
accuracy_score(y_test, pred)

0.792

In [13]:
classification_report(y_test, pred)

'             precision    recall  f1-score   support\n\n          B       0.03      0.05      0.04        19\n          L       0.83      0.84      0.84       109\n          R       0.88      0.78      0.83       122\n\navg / total       0.79      0.75      0.77       250\n'

In [14]:
edt=DecisionTreeClassifier(criterion='entropy')
print('*'*100)
edt.fit(x_train, y_train)

****************************************************************************************************

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
pred=edt.predict(x_test)
accuracy_score(y_test, pred)
classification_report(y_test, pred)

'             precision    recall  f1-score   support\n\n          B       0.03      0.05      0.04        19\n          L       0.84      0.83      0.83       109\n          R       0.89      0.81      0.85       122\n\navg / total       0.80      0.76      0.78       250\n'

In [18]:
from sklearn.ensemble import RandomForestClassifier

ff = RandomForestClassifier(criterion='gini')
print(ff)

ff.fit(x_train, y_train)

pred=ff.predict(x_test)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [19]:
accuracy_score(y_test,pred)

0.78

In [20]:
classification_report(y_test, pred)

'             precision    recall  f1-score   support\n\n          B       0.00      0.00      0.00        19\n          L       0.80      0.86      0.83       109\n          R       0.89      0.83      0.86       122\n\navg / total       0.78      0.78      0.78       250\n'

In [28]:
ef=RandomForestClassifier(criterion='entropy')
ef.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [30]:
pred = ef.predict(x_test)
accuracy_score(y_test, pred)

0.836

In [31]:
classification_report(y_test, pred)

'             precision    recall  f1-score   support\n\n          B       0.07      0.05      0.06        19\n          L       0.82      0.93      0.87       109\n          R       0.95      0.88      0.91       122\n\navg / total       0.83      0.84      0.83       250\n'

In [32]:
from sklearn.ensemble import ExtraTreesClassifier

ge = ExtraTreesClassifier(criterion='gini')

ge.fit(x_train, y_train)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [33]:
pred = ge.predict(x_test)

accuracy_score(y_test, pred)

0.804

In [34]:
classification_report(y_test, pred)

'             precision    recall  f1-score   support\n\n          B       0.00      0.00      0.00        19\n          L       0.84      0.87      0.86       109\n          R       0.91      0.87      0.89       122\n\navg / total       0.81      0.80      0.81       250\n'

In [35]:
ee= ExtraTreesClassifier(criterion='entropy')

ee.fit(x_train, y_train)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='entropy',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [37]:
pred = ee.predict(x_test)

accu=accuracy_score(y_test, pred)
print(accu)
claaaa=classification_report(y_test, pred)
print('*'*100)
print(claaaa)

0.832
****************************************************************************************************
             precision    recall  f1-score   support

          B       0.00      0.00      0.00        19
          L       0.85      0.90      0.88       109
          R       0.90      0.90      0.90       122

avg / total       0.81      0.83      0.82       250